<h1>Form</h1>
<form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div class="form-group">
        <label for="firstName">Fist Name: </label>
        <input required minlength="3" maxLength="10" ngModel name="firstName" #firstName="ngModel" id="firstName" type="text" class="form-control"> <br><br>
        <div class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid">
            <div *ngIf="firstName.errors?.['required']">First name is required.</div>
            <div *ngIf="firstName.errors?.['minlength']">First name should be minimum {{firstName.errors?.['minlength'].requiredLength}} characters</div>
        </div>
    </div>
    <div class="form-group">
        <label for="password">Password: </label>
        <input type="password" ngModel name="password" id="password" class="form-control">
    </div>
    <button class="btn btn-primary">Submit</button>
</form>

